# Jupyter Notebook-specific
.ipynb_checkpoints/
*.ipynb_checkpoints

# Ignore Python
__pycache__/
*.py[cod]

# Ignore virtual environment directory
venv/
lepd_env/

# Ignore other common environment files
.env
.DS_Store

# Ignore OS-specific or IDE-specific files (optional)
*.swp
.idea/
.vscode/